# Ollama
OLLAMA_KEEP_ALIVE=30m      # Keep model in VRAM for 30 minutes
OLLAMA_LOAD_TIMEOUT=10m    # Time out after 10 minutes in prompt
OLLAMA_CONTEXT_LENGTH=4000 # 4k context length for a 16GB VRAM card

# Authentication for Hermes's web UI
HERMES_DASHBOARD_BASIC_AUTH_USERNAME=your_username
HERMES_DASHBOARD_BASIC_AUTH_PASSWORD=change_this_now
HERMES_DASHBOARD_BASIC_AUTH_SECRET=$(openssl rand -base64 32)
