# This is how long to keep models in memory for.
OLLAMA_KEEP_ALIVE=2h

# Authentication for Hermes's web UI
HERMES_DASHBOARD_BASIC_AUTH_USERNAME=your_username
HERMES_DASHBOARD_BASIC_AUTH_PASSWORD=change_this_now
HERMES_DASHBOARD_BASIC_AUTH_SECRET=$(openssl rand -base64 32)
